{% extends "layout.html" %}

{% block content %}
  <html>
  <!navigation-->
  <div class="jumbotron text-center">
      <div class="container-fuild">


    <a href="/" class="lang-logo">
    </a>
    <h1>Mosaic Passport</h1>
    <p>Travel.Explore.Click</p>
    </div>
</div>
<div class="container">

    </div>
  </div> <!-- row -->
  <body>
  <table class="table">
      <thead class="table table-dark">
      <tr>
          <th>Destination</th>
          <th>Best time to visit</th>
          <th>Must see</th>
          <th> Local Food</th>
          <th>Getting Around</th>

      </tr>
      </thead>
      <tbody>
      <tr>
          <td>New York</td>
          <td>January-March</td>
          <td>Central Park, Empire state</td>
          <td> Artichoke's Pizza</td>
          <td>Walk, Subway, Car Rental</td>
      </tr>
      <tr>

          <td>Paris</td>
          <td>January-March</td>
          <td>Eiffel Tower, The Louvre</td>
          <td> Croissant, Hot Chocolate</td>
          <td>Walk, Metro</td>
      </tr>
      <tr>
          <td>London</td>
          <td>May-August</td>
          <td>London Eye</td>
          <td>English breakfast</td>
          <td>Tube, Bus, Taxi</td>
      </tr>
      <tr>
          <td> Italy</td>
          <td>April-June</td>
          <td>Venice</td>
          <td>Pizza, Pasta</td>
          <td>Ferry, Bus</td>

      </tr>
      <tr>
          <td>India</td>
          <td>November-February</td>
          <td>Taj Mahal, Kashmir</td>
          <td>Vada Pav, Paratha, Pav Bhaji</td>
          <td>Local Trains, Car, Bus</td>
      </tr>
      </tbody>
  </table>

<font size="5"><div align="Center">
         <P>Best places to visit <a href="https://travel.usnews.com/New_York_NY/Things_To_Do/">New York</a></P>
    <p>Best places to visit <a href="https://travel.usnews.com/Paris_France/Things_To_Do/">Paris</a></p>
    <p>Best places to visit <a href="https://travel.usnews.com/London_England/Things_To_Do/">London</a></p>
    <p>Best places to visit <a href="https://www.touropia.com/best-places-to-visit-in-italy/">Italy</a></p>
    <p>Best places to visit <a href="https://traveltriangle.com/blog/places-to-visit-in-india-before-you-turn-30/">India</a></p>
    </div>

  </body>
  </font>

  <div>
      <h3>1.More about New york</h3>
      <p>New York is also called as Big Apple. Many tourists all over the world visit NYC specially during the christmas because New York christmas is well known. There is a lot to explore in the city from parks to clubs to famous pizza places. New York is also well known for shopping.</p>
  </div>
  <div>
      <h3>2.More about Paris</h3>
      <p>Paris is one of the most magnificient cities in the world and is the fashion capital. It is know for its history, romantic-charm and mouth watering cuisine. The city has many tourist attractions and souviner shops. One of the most scenic and famous destinations is eiffel tower, you can also go to the top of the tower to soak in the best view of the city. The Louvre is the largest museum of art in Paris which is also the home for the famous Mona Lisa painting.</p>
  </div>
  <div>
      <h3>3.More about London</h3>
      <p>London is very well known for its Big Ben Clock tower and the giant London Eye. As any other major city London has many shopping options and food options. A must have food is the English breakfast when in London. </p>
  </div>
  <div>
      <h3>4.More about Italy</h3>
      <p>Italy is one of the most romantic places in the world. Venice is a beautiful city in the canals. Rome is known for its historical importance. Pisa is known for its leaning tower. Pizza and pasta being the local food cuisine one must not forget to try when in Italy. One of the other main attractions in venice is the Gondola ride in the canals. Also dont forget to eat icecream when in venice.</p>
  </div>
  <div>
      <h3>5.More about India</h3>
      <p>India is known to be one of the most diverse countries. Taj Mahal being the symbol of eternal love is a must-see attraction when in India. If you want to have a sense of royalty you should visit Rajasthan. Kashmir is another place in northern india where you will get close to nature get mesmerized by the views.</p>

  </div>


  </body>
  </html>


{% endblock %}


