{% extends "layout.html" %}

{% block content %}
  <html>
  <!navigation-->
  <div class="jumbotron text-center">
      <div class="container-fuild">


    <a href="/" class="lang-logo">
    </a>
    <h1>Mosaic Passport</h1>
    <p>Travel.Explore.Click</p>
    </div>
</div>
<div class="container">
  <div class="alert alert-info text-center" role="alert">
    Travel Blog informing about places around the world and inspiring enthusiast to explore more.
   </div>
    </div>
  </div> <!-- row -->
  <body>
  <table class="table">
      <thead class="table table-dark">
      <tr>
          <th>Destination</th>
          <th>Best time to visit</th>
          <th>Must see</th>
          <th> Local Food</th>

      </tr>
      </thead>
      <tbody>
      <tr>
          <th>New York</th>
          <th>January-March</th>
          <th>Central Park, Empire state</th>
          <th> Artichoke's Pizza</th>

      </tr>
      <tr>

          <th>Paris</th>
          <th>January-March</th>
          <th>Eiffel Tower, The Louvre</th>
          <th> Croissant, Hot Chocolate</th>
      </tr>
      <tr>
          <th> London</th>
          <th>May-August</th>
          <th>London Eye</th>
          <th>English breakfast</th>
      </tr>
      <tr>
          <th> Italy</th>
          <th>April-June</td>
          <th>Venice</th>
          <th>Pizza, Pasta</th>

      </tr>
      <tr>
          <th>India</th>
          <th>November-February</th>
          <th>Taj Mahal, Kashmir</th>
          <th>Vada Pav, Paratha, Pav Bhaji</th>

      </tr>
      </tbody>
  </table>

<font size="5"><div align="Center">
         <P>Best places to visit <a href="https://travel.usnews.com/New_York_NY/Things_To_Do/">New York</a></P>
    <p>Best places to visit <a href="https://travel.usnews.com/Paris_France/Things_To_Do/">Paris</a></p>
    <p>Best places to visit <a href="https://travel.usnews.com/London_England/Things_To_Do/">London</a></p>
    <p>Best places to visit <a href="https://www.touropia.com/best-places-to-visit-in-italy/">Italy</a></p>
    <p>Best places to visit <a href="https://traveltriangle.com/blog/places-to-visit-in-india-before-you-turn-30/">India</a></p>
    </div>

  </body>
  </font>




  </body>
  </html>


{% endblock %}


